figure
  img(
    src="#{src}"
    title="#{title}"
    alt=ifDef(alt)
  )
  figcaption
    span.title #{title}
    br
    if caption
      span #{caption}
      br
    if date
      span #{moment(date).format(formats.isoDate)}
      br
    if note
      span #{note}
      br
    if src_large
      a(href="#{src_large}" target="_blank") Large Photo
    span © Welling Guzman
