doctype
html
  head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title= title || site_title
    meta(name="description",content="#{site_description}")
    if(site_keywords)
      meta(name="keywords",content="#{site_keywords}")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="#{site_author}")
    link(href="https://plus.google.com/109985810023249441310/posts" rel="publisher")
    link(rel="shortcut icon" href="/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet')
    link#baseStyle(rel="stylesheet" type="text/css" href="/css/extend.css?v=#{version}")
    script.
      var SITE_VERSION = '#{version}';
  - var bodyClassName = '';
  - if (current.path[0]=='index') {
  -   bodyClassName = 'home';
  - } else if (current.path[0] == '404') {
  -   bodyClassName = 'missingPage';
  - } else {
  -   bodyClassName = current.path[0];
  - }
  body(class="#{bodyClassName}")
    //- #sidebar
    //-   include sidebar
    #main
      include sitebar
      include header
      hr
      .Content-wrapper
        .Content-box.Content
          block content
      hr
      include footer
      script(src="/js/script-min.js?v=#{version}")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '#{analytics}', 'auto');
      ga('send', 'pageview');
