doctype
html(lang="#{site_lang}")
  head
    meta(charset="utf-8")
    title= title ? title + ' — ' + site_title : site_title
    meta(name="description", content="#{site_description}")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="#{site_author}")
    link(rel="alternate", type="application/rss+xml", title="Welling Guzman's RSS", href="/feed.xml")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="stylesheet" type="text/css" href='/css/main.css?bust=171fa82e7f5')
  body
    .container
      include inc/sitebar
      block header
      block content
      include inc/footer
    <!-- This page was generated on #{moment().format(formats.dateTime)} -->
