doctype
html
  head
    meta(charset="utf8")
    title= title || site_title
    meta(name="description",content="#{site_description}")
    if(site_keywords)
      meta(name="keywords",content="#{site_keywords}")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="#{site_author}")
    link(href="https://plus.google.com/109985810023249441310/posts" rel="publisher")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="stylesheet" type="text/css" href="/css/main.css?v=#{version}")
    script.
      var SITE_VERSION = '#{version}';
  - var bodyClassName = '';
  - if (current.path[0]=='index') {
  -   bodyClassName = 'home';
  - } else if (current.path[0] == '404') {
  -   bodyClassName = 'missingPage';
  - } else {
  -   bodyClassName = current.path[0];
  - }
  body(class="fresh-outfit #{bodyClassName}")
    include inc/sitebar
    include inc/header
    include inc/main
    include inc/footer
