- var documentId = '';
- if (current.path[0]=='index') {
-   documentId = 'home';
- } else if (current.path[0] == '404') {
-   documentId = 'missingPage';
- } else {
-   documentId = current.path[0];
- }
doctype
html(id="#{documentId}",lang="#{site_lang}")
  head
    meta(charset="utf8")
    title= title || site_title
    if (site_description)
      meta(name="description",content="#{site_description}")
    if(site_keywords)
      meta(name="keywords",content="#{site_keywords}")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    if (site_author)
      meta(name="author" content="#{site_author}")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="stylesheet" type="text/css" href="/css/main.css?v=#{version}")
    script.
      var SITE_VERSION = '#{version}';
  body(class="comfy-outfit #{documentId}")
    include inc/sitebar
    include inc/header
    include inc/main
    include inc/footer
