- tag = filter === undefined ? current.path.slice(-2, -1)[0] : filter;
- posts = partial('logs', { filter: function (post) {
-   if (post.slug && post.slug.indexOf(tag) === 0) return true;
-   return false;
- }});


h2 Logs made on "#{tag}"

.Post-List.Logs-List
  - post = posts.shift();
  while post
    section
      header
        - time = moment(post.date).format('hh:mm:ss')
        .Log-meta: time.Timestamp #{time}
        .Log-title: a(href="##{time}") #{post.title}
      article.Post.Log(id="#{time}")
        | !{marked(logs(post.slug))}
      footer
        p This was posted on #{moment(post.date).format('MMMM DD, YYYY')}
      - post = posts.shift();
