- tags = partial('../_shared/tags');
if tags.length === 0
  p Not found

each tag in tags
  - tagNotes = partial('../_shared/notes', { filter: function (note) {
  -   return note.tags && note.tags.indexOf(tag) >= 0;
  - }});

  if tagNotes.length > 0
    h2
      a(href="/tags/#{tag}") #{tag}
    ul
      - note = tagNotes.shift();
      while note
        li
          span: time.Timestamp #{moment(note.date).format(formats.date)}
          span.sep &nbsp;
          span: a(href="#{note.path}") #{note.title}
        - note = tagNotes.shift();
